[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnslib = "*"
docker-py = "*"
flask = "*"
cryptography = "*"
podman = {file = "https://github.com/containers/podman-py/releases/download/v4.4.1/podman-4.4.1-py3-none-any.whl"}
pydantic = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
