[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnslib = "*"
docker-py = "*"
flask = "*"
cryptography = "*"
podman = {file = "https://github.com/containers/podman-py/archive/refs/heads/main.zip"}

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
