
    {% for entry in entries %}
    <div class="box" style="background-color: {{ entry.color }}">
      <div class="title">
        {{ entry.name }}
      </div>
      <div class="content">
        {% for ip in entry["ips"] %}
        <div class="colapsable">
          <div class="title">
            {{ ip }}
          </div>
          <div class="ports">
            {% for port in entry["ports"] %}
            <div class="portentry">
              <div class="portnr">:{{ port }}</div>
              <a href="http://{{ ip }}:{{ port }}" target="_blank" >http</a>
              <a href="https://{{ ip }}:{{ port }}" target="_blank" >https</a>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
